<%= link_to "異性一覧に戻る", kerberos_matching_path%>
<h4>フォロワー一覧</h4>
<table>
<% @kerberos.each do |k| %>
    <tr>
        <td><%= link_to k.name + @keisho, kerberos_matching_path(:id => k.id) %></td><td align="right"><%= k.age.to_s + "歳" unless k.age.blank? %></td>
    </tr>
<% end %>
</table>