<%= link_to "異性一覧に戻る", kerberos_matching_path%>
<h4>フォロワー一覧</h4>

<% @kerberos.each do |k| %>
    <div>
        <%= link_to k.name + @keisho, kerberos_matching_path(:id => k.id) %>
    </div>
<% end %>