// Place all the styles related to the sleeps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table.calendar{
    border-collapse: collapse;
}

table.calendar th{
    border:2px solid #000000;
}

table.calendar td{
    border:1px solid #000000;
}
